<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <!-- load bootstrap css -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
	<style>
		.container {
			max-width: 500px;
			margin: 0 auto;
			padding: 20px;
			border: 1px solid #ccc;
			justify-content: center;
			border-radius: 5px;
			box-shadow: 0 0 5px rgba(0,0,0,0.1);
			margin-top: 100px;
		}

		h1 {
			color: blue;
			text-align: center;
			margin-bottom: 20px;
		}

		form {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		input[type="email"],
		input[type="password"] {
			width: 100%;
			padding: 10px;
			margin-bottom: 10px;
			border-radius: 5px;
			border: 1px solid #ccc;
		}

		button {
			background-color: blue;
			color: white;
			padding: 10px 20px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
		}

		button:hover {
			background-color: #003399;
		}

		li {
			margin-top: 20px;
			text-align: center;
		}

		a {
			text-decoration: none;
			color: blue;
			font-weight: bold;
		}
	</style>
</head>

<body>
	<div class="container">
		<h1>login</h1>
		{{#if error}}
	<div style="color: red">{{ error }}</div>
	{{/if}}

	{{#if message}}
	<div style="color: green">{{ message }}</div>
	{{/if}}
		<form action="/login" method="POST">
			<input type="email" name="email" placeholder="email">
			<input type="password" name="password" placeholder="password">
			<button>login</button>
		</form>
		<h1><span class="fa fa-lock"></span> Social Authentication</h1>
        <p>Login or Register with:</p>
        <a href="/auth/google" class="btn btn-danger"
          ><span class="fa fa-google"></span> Sign Up with Google</a
        >
        <br />
        <br />
		<p><a href="/forgot-password">Forgot Password?</a></p>
		<li><a href="/register">Sign up!!</a></li>
	</div>
</body>
</html>  
