<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Update Password</title>
	<style>
		.container {
			max-width: 500px;
			margin: 0 auto;
			padding: 20px;
			border: 2px solid #ccc;
			border-radius: 10px;
			text-align: center;
            margin-top: 100px;
		}

		h1 {
			margin-bottom: 20px;
			color: #444;
			font-size: 28px;
			font-weight: bold;
			text-align: center;
		}

		label {
			display: block;
			margin-bottom: 10px;
			color: #444;
			font-size: 18px;
			font-weight: bold;
			text-align: left;
		}

		input[type="email"],
		input[type="password"] {
			display: block;
			width: 100%;
			padding: 10px;
			font-size: 16px;
			border: 2px solid #ccc;
			border-radius: 5px;
			margin-bottom: 20px;
		}

		button[type="submit"] {
			background-color: #008CBA;
			color: white;
			padding: 10px 20px;
			border: none;
			border-radius: 5px;
			font-size: 16px;
			cursor: pointer;
		}

		button[type="submit"]:hover {
			background-color: #006B8F;
			color: white;
		}

		p {
			margin-top: 20px;
			color:green;
			font-size: 16px;
			text-align: center;
		}

		.error {
			color: red;
			font-weight: bold;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>Update Password</h1>
		<form action="/update-password" method="POST">
			<label for="email">Email:</label>
			<input type="email" id="email" name="email" required>
			<label for="new-password">New Password:</label>
			<input type="password" id="new-password" name="newPassword" required>
			<label for="confirm-password">Confirm Password:</label>
			<input type="password" id="confirm-password" name="confirmPassword" required>
			<button type="submit">Update Password</button>
		</form>

				<!-- Display the response message, if available -->
		{{#if message}}
			<strong><p>{{message}}</p>
			</strong>
		{{/if}}
	</div>
</body>
</html>
